.App {
  display: flex;
  margin: .25rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.App>.container {
  display: flex;
  height: 500px;
  width: 500px;
}

.App .container.left {
  flex-direction: column;
  align-items: center;
}

.App .container.right {
  flex-direction: column;

}

.inputs {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  flex-direction: column;
  border-radius: .5rem;
}

.input {
  margin-left: .15rem;
  height: 2rem;
  font-size: 1rem
}

.info-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  border-radius: .5rem;
}

.totals {
  flex-grow: 1.25;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 2px;
  border-radius: .5rem;
  margin-top: 5px;
}

.totals>* {
  font-size: 15px;
  justify-self: center;
  align-self: center;
}

.small-print {
  font-size: 12px;
}

.button {
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  background-color: #fea659;
}

.toggle-subtraction {
  width:100%;
}


.subtract-button {
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: blueviolet;
}

.subtractions-container {
  height: 117px;
  overflow: scroll;
}

.subtraction-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  border: 2px solid black;
  gap: 5px;
}

.paint-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.total {
  font-size: 1.5rem;
  font-style: italic;
}

.paint-container.info {
  margin: 5px;
}

.DWO-selection-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.DOW-single-subtraction {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.close-button-container {
  display: grid;
  grid-template-columns: 5;
}

.close-subtraction-button {
  grid-column: 8;
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
}

.delete-subtraction {
  border: 1px solid black;
  border-radius: .25rem;
}

.rate-container {
  display: flex;
}


@media (max-width: 850px) {
  .App {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
    gap: .25rem;
  }
}