.App {
  display: flex;
  margin: .25rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 80%;
  background-color: rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-title {
  font-weight: 500;
  font-size: 50px;
  font-style: italic;
  margin-bottom: 50px;
}

.theme-container {
  width: 75%;
  height: 50%;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px ridge grey;
  border-radius: 15px;
  transition: all .5s ease-in-out;
}

.theme {
  border: 2px double black;
  width: 25%;
  height: 10%;
  border-radius: 15px;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  margin: .25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 75%;
  box-sizing: border-box;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  top: 30px;
  border-radius: .75rem;
}

.menu-burger {
  width: 50px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-burger::before,
.menu-burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-burger::before {
  transform: translateY(-16px);
}

.menu-burger::after {
  transform: translateY(16px);
}


.App>.container {
  display: flex;
  height: 500px;
  width: 500px;
}

.App .container.left {
  flex-direction: column;
  align-items: center;
}

.App .container.right {
  flex-direction: column;

}

.inputs {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: .5rem;
}

.top-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
}

.input-pairing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.input {
  margin-left: .15rem;
  height: 2rem;
  font-size: 1rem;
  flex-grow: 3;
}

.feet {
  padding: .5rem;
}

.or-input-divider {
  height: 5px;
  margin-bottom: 20px;
}

.info-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  border-radius: .5rem;
}

.totals {
  flex-grow: 1.25;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 2px;
  border-radius: .5rem;
  margin-top: 5px;
}

.totals>* {
  font-size: 15px;
  justify-self: center;
  align-self: center;
}

.small-print {
  font-size: 12px;
}

.button {
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  background-color: #E2E8CE;
}

.toggle-subtraction {
  width: 100%;
}


.subtract-button {
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: blueviolet;
}

.subtractions-container {
  height: 117px;
  overflow: scroll;
}

.subtraction-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  border: 2px solid black;
  gap: 5px;
}

.paint-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paint-cost {
  height: 1.5rem;
  font-size: 1rem;
}

.paint-cost-after {
  margin-left: .5rem;
  font-size: 1rem;
}

.total {
  font-size: 1.5rem;
  font-style: italic;
}

.paint-container.info {
  margin: 5px;
}

.subtraction-input-container {
  border: 2px solid black;
  width: 100%;
  border-radius: .5rem;
}

.subtraction-input-top {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.radio {
  width: fit-content;
}

.subtraction-input-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.DOW-single-subtraction {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.close-button-container {
  grid-column: 8;
  display: flex;
  justify-content: flex-end;
}

.close-subtraction-button {
  border: 1px solid black;
  text-align: center;
  width: 20px;
  border-radius: .5rem;
  margin-right: .25rem;
  font-size: 1rem;
  cursor: pointer;
}

.delete-subtraction {
  border: 1px solid black;
  border-radius: .25rem;
}

.rate-container {
  display: flex;
}

.one {
  background-color: cadetblue;
}

.two {
  background-color: crimson;
}

.three {
  background-color: darkolivegreen;
}

@media (max-width: 850px) {
  .bottom-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
    gap: .25rem;
  }
}