.App {
  display: flex;
  margin: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  background-color: rgb(247, 244, 244);
}

.inputs {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 90% 10%;
  flex-direction: column;
  width: 380px;
  border-radius: .5rem;
}

.inputs>* {
  margin: 10px;
}

.info-container {
  height: 200px;
  width: 380px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: .5rem;
}

.totals {
  border: 2px solid black;
  height: 150px;
  width: 380px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 2px;
  border-radius: .5rem;
  margin-top: 5px;
}

.totals>* {
  margin: 15px 0 0 45px;
  font-size: 15px;
}

.small-print {
  font-size: 12px;
}

.subtractions {
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  padding: 7px;
}

.paint-container {
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paint-container>* {
  margin: 5px;
}